.leCadre{

    display: flex;
    flex-direction: column;
    align-items: center;
}    

.lesTags{

    display: flex;
    justify-content: flex-start;
}

.leTag{

    margin: 5px;
    padding: 5px;
    background-color: #FF6060;
    border-radius: 10px;
    color: white;
}

.coverStyle{

    width: 80%;
    align-self: center;
}

.titleStyle{

    color: #FF6060;
    
}

.locationStyle{

    color: #FF6060;
}

.blocIntermediaire{
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    width: 80%;
    margin: 5px;
}

.lesDeuxBlocs{

    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    width: 80%;
    /* margin: 5px 0 10px 0; */

    border: 3px solid purple
   
}

.lesSousBlocs{
    flex: 1;
    width: 45%;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 3px solid yellow;
    
}

.boutonPlusInfo{

    background-color: #FF6060;
    color: white;
    width: 100%;
    height: 20%;
    border: 2px solid blue;

    display: grid;
    grid-template-columns: repeat(20, 1fr);
    grid-template-rows: 1fr;
    
    
    /* padding: 10px 0 10px 0; */
     
}

.imaVector{
    border: 2px solid green;
    grid-column: 20;
    grid-row: 1;
    
}

.descDiv{
    border: 2px solid purple;
    width: 45%;
    grid-column: 1 / 20;
    grid-row: 1;
    
}

/*
.blocIm{
    border: 2px solid yellow;
    width: 45%;
}
*/

.textDisplayed{

    /* color: #FF6060; */
    color: purple;
    /* background-color: #F7F7F7; */

    background-color: lightblue;

    border-radius: 10px;
    width: 100%;
    height: 80%;
}


.listDisplayed{
    list-style: none;
}