.leCadre{

    display: flex;
    flex-direction: column;
    align-items: center;
    
} 

.leCadrePhoto{
    
    width: 90%;
    height: 415px;
    border: 2px solid brown;
    position: relative;
}



.lesTags{

    display: flex;
    justify-content: flex-start;
}

.leTag{

    margin: 5px;
    padding: 5px;
    background-color: #FF6060;
    border-radius: 10px;
    color: white;
}

.photoStyle{
    
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    /*border: 4px solid green; */
    object-fit: cover;
    margin: 0;
    padding: 0;
    
}

.arrowleftStyle{
    color: black;
    border: 3px solid purple;
    background-color: yellow;
    position: absolute;
    left: 0;
    top: 50%;
    transform: translate(-50%);
    z-index: 1;
    margin: 0;
    padding: 0;
}

.arrowrightStyle{
    color: black;
    border: 3px solid purple;
    background-color: yellow;
    position: absolute;
    right: 0;
    z-index: 1;
    margin: 0;
    padding: 0;
   
}

.titleStyle{

    color: #FF6060;
    
}

.locationStyle{

    color: #FF6060;
}

.blocIntermediaire{
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    width: 80%;
    /*margin: 5px; */
}

.lesDeuxBlocs{

    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 20px;
    width: 80%;
}



