
.lesSousBlocs{
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100%;
    width: 100%;
    
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-bottom: 5%;
    border: 4px solid yellow;
}






.boutonPlusInfo{

    background-color: #FF6060;
    color: white;
    width: 100%;
    height: 52px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 10px;
     
}


.descDiv{
    padding: 3%;
} 

.textDisplayed{
    background-color: #F7F7F7;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    width: 100%;
    height: 100%; 
    color: #FF6060; 
    border: 4px dashed green;
}

.lineText{
    margin: 3%;
    border: 2px solid pink;
}