@media (max-width: 575.98px){

    nav{
        display: flex;
        justify-content: space-between;
        align-items: center;
        color: #FF6060;
        padding: 2px 0 2px 0;
        margin: 10px 0 2px 0;
        width: 90%;  
    }
    
    .lesLiens{
        display: flex;
        justify-content: space-between;
        width: 45%;
    }


    @media (max-width: 360px){

        .lesLiens{
            font-size: 0.9em;
            width: 60%;
            display: flex;
            justify-content: flex-end;
        }

        .lien{
            margin-left: 1em;
        }
    }

    .lien{
        color: #FF6060;
    }

    .logo{
        max-width: 100px;
    }

}

@media (min-width: 575.99px) and (max-width: 991.98px){

    nav{
        padding: 30px 0 30px 0;
        display: flex;
        justify-content: space-between;
        align-items: center;
        color: #FF6060;
        margin: 0;
        width: 90%;
    }

    .logo{
        width: 180.32px;
        margin: 0;
    }
    
    .lesLiens{
        display: flex;
        justify-content: space-between;
        padding: 0;
        width: 25%;
    }

    @media (min-width: 575.99px) and (max-width: 700px) {

        .lesLiens{
            width: 35%;
        }   
    }
    
    @media (min-width: 700.01px) and (max-width: 800px) {

        .lesLiens{
            width: 30%;
        }   
    }
    
    .lien{
        color: #FF6060;
        margin-left: 10px;
        margin-left: 1em;
    }
}

@media (min-width: 991.99px) and (max-width: 1999.99px){
    
    nav{
        padding: 30px 0 30px 0;
        display: flex;
        justify-content: space-between;
        align-items: center;
        color: #FF6060;
        width: 90%;
    }

    .logo{
        width: 210.32px;
        margin: 0;
    }

    .lesLiens{
        display: flex;
        justify-content: space-between;
        padding: 0;
        width: 18%;
    }
          
    .lien{
        color: #FF6060;
        margin-left: 10px;
    }
}

@media (min-width: 2000.00px){

    nav{
        padding: 30px 0 30px 0;
        display: flex;
        justify-content: space-between;
        align-items: center;
        color: #FF6060;
        margin: 0;
        width: 70%;
    }

    .lesLiens{
        display: flex;
        justify-content: space-between;
        padding: 0 2% 0 2%;
        width: 20%;
    }
      
    .lien{
        color: #FF6060;
        margin-left: 10px;
    }
}






